<div class="checkout-page container mx-auto p-6 mt-20 mb-12">

  <!-- Order Summary Section -->
  <div class="order-summary bg-gray-100 p-4 rounded-lg shadow-md">
    <h3 class="text-lg font-semibold mb-4">Order Summary</h3>
    <div class="flex justify-between mb-2">
      <span>Total Amount to Pay:</span>
      <span class="font-bold">₹ {{ totalAmount }}</span>
    </div>
    <div class="flex justify-between text-green-600 mb-2">
      <span>Savings:</span>
      <span class="font-bold">₹ 0</span>
    </div>
    <button class="btn btn-primary w-full mt-4" (click)="placeOrder()">Place Order</button>
  </div>
</div>

<app-toast />
