@if(cartItems.length !== 0){
    <div class="p-4 mt-16">
        <h1 class="text-2xl font-bold">Shopping Cart</h1>
        <div class="flex flex-col gap-[1rem] p-[1rem]">
    
            <div class="border-b py-4">
                @for(product of cartItems;track product.id){
                <div class=" flex items-center justify-center mb-4">
                    <img class="w-32 h-full object-cover" [src]="product.image" alt="{{ product.name }}" />
                    <div class="ml-4 flex-1">
                        <h2 class="text-lg font-semibold">{{ product.name }}</h2>
                        <div class="quantity-container">
                            <button (click)="decreaseQuantity(product)" class="quantity-btn" [disabled]="product.quantity === 1"  [ngClass]="{'disabled-btn': product.quantity === 1}">−</button>
                            <input type="text" class="quantity-input" [(ngModel)]="product.quantity" readonly>
                            <button (click)="increaseQuantity(product)" class="quantity-btn">+</button>
                        </div>
    
                        <!-- Product actions -->
                        <div class="mt-2 flex space-x-4">
                            <button (click)="removeItem(product)" class="text-blue-500">Delete</button>
                            <button class="text-blue-500">Save for later</button>
                            <button class="text-blue-500">Compare with similar items</button>
                        </div>
                    </div>
                    <div class="ml-auto text-lg font-semibold text-gray-800">{{ product.price*product.quantity| currency : 'INR' }}</div>
                </div>

                <hr class="border-t border-gray-300 my-4">
                }
            </div>
            <div class="mt-4 flex justify-between items-center">
                <h2 class="text-lg font-bold">Subtotal ({{ cartItems.length }} item(s)):</h2>
                <span class="text-lg font-semibold text-gray-800">{{ getTotalCost().toFixed(2)| currency:'INR' }}</span>
            </div>
    
            <!-- Checkout button -->
            <div class="mt-4">
                <button class="bg-yellow-500 text-white py-2 px-4 rounded-lg" (click)="navigateToCheckOutPage()" >Proceed to Checkout</button>
            </div>
        </div>
    </div>
}@else {
    <div class="text-center py-10 mt-16">
        <h2 class="text-xl font-bold">Your Cart is empty.</h2>
        <p class="mt-2 text-gray-600">
          Your Shopping Cart lives to serve. Give it purpose — fill it with groceries, clothing, household supplies, electronics, and more.
        </p>
        <button class="go-home-btn mt-4" routerLink="/">Go to Home</button>
    </div>
}



